{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="header">
    SymDa
    <p>Your Reliable Data Solutions Provider</p>
</div>
<button id="sbutton">Scroll to Posts</button>

<div class="card-container">
    <div class="card">
        <div class="card-text">
            <h2>Data Handling</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim justo eget ligula rhoncus, ac rutrum felis cursus.</p>
            <p>Nulla auctor mi in augue iaculis, eget faucibus lacus semper. Cras eget iaculis nunc. Integer sodales pulvinar malesuada.</p>
        </div>
        <img class="card-image" src="{% static 'images/pic1.jpg' %}" alt="Data Image">
    </div>

    <div class="card">
        <img class="card-image" src="{% static 'images/pic2.svg' %}" alt="Data Image">
        <div class="card-text">
            <h2>Data Analysis</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim justo eget ligula rhoncus, ac rutrum felis cursus.</p>
            <p>Nulla auctor mi in augue iaculis, eget faucibus lacus semper. Cras eget iaculis nunc. Integer sodales pulvinar malesuada.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-text">
            <h2>Data Visualization</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim justo eget ligula rhoncus, ac rutrum felis cursus.</p>
            <p>Nulla auctor mi in augue iaculis, eget faucibus lacus semper. Cras eget iaculis nunc. Integer sodales pulvinar malesuada.</p>
        </div>
        <img class="card-image" src="{% static 'images/pic3.jpg' %}" alt="Data Image">
    </div>
    <div class="card">
        <div class="card-text">
            <h2>Data Visualization</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim justo eget ligula rhoncus, ac rutrum felis cursus.</p>
            <p>Nulla auctor mi in augue iaculis, eget faucibus lacus semper. Cras eget iaculis nunc. Integer sodales pulvinar malesuada.</p>
        </div>
        <img class="card-image" src="{% static 'images/pic4.jpg' %}" alt="Data Image">
    </div>
</div>

    
    {% if posts %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 id="posts-disp" >Posts:</h2>
                {% for post_data in posts %}
                    {% with post=post_data.post profile_img_url=post_data.profile_img_url %}
                        <div class="post-container shadow">
                            <div class="post-header">
                                <img src="{{ profile_img_url }}" alt="Profile Image" class="profile-image">
                                <h3>{{ post.user }}</h3>
                            </div>
                            <div class="post-image">
                                <img src="{{ post.image.url }}" alt="Post Image">
                            </div>
                            <div class="post-content">
                                <div class="like-dislike-buttons">
                                    {% if user.is_authenticated %}
                                        <form method="POST" action="{% url 'like' post.id %}">
                                            {% csrf_token %}
                                             <button type="submit"><img class="t-up" src="{% static 'images/tup.png' %}" alt="tumbs up"></button>
                                        </form>
                                        {% else%} <span class="ran-margin">Likes : </span>
                                    {% endif %}
                                    <span style="margin-right: 20px;"> {{ post.no_of_likes }}</span>
                                    {% if user.is_authenticated %}
                                        <form method="POST" action="{% url 'dislike' post.id %}">
                                            {% csrf_token %}
                                            <button type="submit"><img class="t-down" src="{% static 'images/tdo.jpg' %}" alt="tumbs up"></button>
                                            
                                        </form>
                                        {% else%} <span class="ran-margin">Dis Likes : </span>
                                    {% endif %}
                                    <span>{{ post.no_of_dislikes }}</span>
                                </div>
                                
                                <p class="caption"> <span class="caption-user">{{ post.user }} :- </span> {{ post.caption }}</p>
                                <div class="comments">
                                    {% for comment in post.comments.all %}
                                        <div class="comment">
                                            <p> <span class="caption-user">{{comment.username}}</span> {{ comment.text }}</p>
                                        </div>
                                    {% empty %}
                                        <p>No comments yet.</p>
                                    {% endfor %}
                                </div>
                                {% if user.is_authenticated %}
                                    <form method="POST" action="{% url 'create_comment' post.id %}">
                                        {% csrf_token %}
                                        <textarea name="text" placeholder="Add a comment"></textarea>
                                        <button type="submit">Post Comment</button>
                                    </form>
                                {% else %}
                                    <p>Login to post a comment.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% empty %}
                    <p>No posts yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}



    {% endblock %}