{% extends 'base.html' %}
{% load static %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Upload Image</h1>

            <div class="card shadow">
                <div class="card-body text-center">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'upload' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="file" name="image_upload" accept="image/*" required onchange="previewImage(event)" class="form-control-file">
                        </div>
                        <div class="form-group">
                            <img id="image-preview" src="#" alt="Image Preview" style="display: none;" class="img-fluid">
                        </div>
                        <div class="form-group">
                            <input type="text" name="caption" placeholder="Caption" required class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}
