{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Profile</h1>

            <div class="card shadow">
                <div class="card-body text-center">
                    <h3>User: {{ profile.user.username }}</h3>

                    <h4>Profile Image:</h4>
                    <img src="{{ profile.profileimg.url }}" alt="Profile Image" class="img-fluid rounded-circle mb-3">

                    <h4>Bio:</h4>
                    <p>{{ profile.bio }}</p>

                    <h4>Location:</h4>
                    <p>{{ profile.location }}</p>

                    <h1 class="text-center">Update your profile here</h1>

                    <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="bio">Bio:</label>
                            <textarea name="bio" id="bio" rows="4" class="form-control">{{ profile.bio }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" name="location" id="location" value="{{ profile.location }}" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="profileimg">Profile Image:</label>
                            <input type="file" name="profileimg" id="profileimg" onchange="previewImage(event)" class="form-control-file">
                        </div>

                        <div class="form-group">
                            <img id="image-preview" src="#" alt="Uploaded Image" style="display: none;" class="img-fluid">
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </form>

                    <div class="text-center mt-4">
                        <a href="/" class="btn btn-secondary">Go to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        var preview = document.getElementById('image-preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock %}
