{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="{% url 'signin' %}" method="post" class="card shadow">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter Your Username" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter Your Password" required class="form-control">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="/reset_password" class="btn btn-primary">Forgot Password</a>
                <a href="/" class="btn btn-primary">Go To Home Page</a>
                <a href="/signup" class="btn btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
